.order-tracking {
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    width: 90%;
    margin: auto;
    background-color: #2a2a2a;
    margin-top: 5rem;

    .tracking-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffcc00;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        color: #ffcc00;
    }

    .tracking-status {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .status-circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 1rem;

            &.shipped {
                background-color: #4caf50; // Green for shipped
            }

            &.pending {
                background-color: #ff9800; // Orange for pending
            }
        }

        span {
            font-size: 1.1rem;
            color: #ffcc00;
        }
    }
}
