.how-it-works {
  color: #ffcc00;
  
  .secondary {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ffcc00;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 8rem;
  }

  .how-it-works-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1rem;
  }

  .box {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    ion-icon {
      font-size: 2.5rem;
      color: #ffcc00;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      opacity: 0.9;
    }

    &:hover {
      transform: translateY(-5px);
      background: #ffcc00;
      color: #1e1e2f;
    }
  }

  .how-it-works-container-active {
    background: #ffcc00;
    color: #1e1e2f;

    ion-icon {
      color: #1e1e2f;
    }

    &:hover {
      background: #ffd633;
    }
  }

  @media (max-width: 768px) {
    .secondary {
      font-size: 2rem;
      text-align: center;

    }
  }

  @media (max-width: 480px) {
    .secondary {
      font-size: 1.8rem;
      text-align: center;
    }

    .container {
      grid-template-columns: 1fr;
    }
  }
}
