.how-it-works {

  .secondary {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: #ffcc00;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 9.3rem;
    padding-bottom: 2rem;

    @media (max-width: 768px) {
      font-size: 2.2rem;
      padding-top: 6rem;

    }

    @media (max-width: 480px) {
      font-size: 1.8rem;
      padding-top: 6rem;

    }
  }

  .how-it-works-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

    .box {
      background-color: #404040;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      transition: transform 0.3s ease;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        color: #ffcc00;
      }

      ion-icon {
        font-size: 2rem;
        color: #ffcc00;
        margin-bottom: 10px;
      }

      p {
        font-size: 1rem;
        color: white;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
      }

      @media (max-width: 768px) {
        width: 90%;
        margin: auto;
      }

      @media (max-width: 480px) {
        width: 90%;
        margin: auto;
      }
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 5rem !important;

    .secondary {
      font-size: 2rem;
    }

    .how-it-works-container {
      gap: 20px;
    }

    .box {
      padding: 15px;

      h3 {
        font-size: 1.3rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  @media (max-width: 480px) {
    margin-bottom: 5rem !important;
    .secondary {
      font-size: 1.8rem;
    }

    .box {
      padding: 10px;

      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}