.cart {

    h2 {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 30px;
        font-size: 2rem;
        color: #ffcc00;
    }


    .cart-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100%;
        padding: 1rem;
    }

    .cart-item {
        width: 400px;
        border-radius: 6px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        position: relative;
        border: 2px solid #ffcc00;
        padding: 1rem;

        &:hover {
            transform: translateX(5px); // Slight hover effect for interactivity
        }
    }

    .cart-item-image {
        width: 90px;
        height: 90px;
        object-fit: cover;
        border-radius: 8px; // Rounded corners for a softer look
    }

    .cart-item-details {
        flex: 1;

        h4 {
            margin: 0;
            font-size: 1.3rem;
            color: #333; // Dark color for text
            font-weight: 600;
        }

        p {
            margin: 8px 0;
            color: #666; // Lighter color for less important text
        }

        button {
            padding: 10px 15px;
            background-color: #ff4b5c;
            color: white;
            border: none;
            border-radius: 5px; // Rounded button corners for better UI
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #e03d4f;
            }
        }
    }

    .cart-total {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        h3 {
            font-size: 1.6rem;
            color: #ffcc00 !important;
            font-weight: 600;
        }

        .checkout-button {
            padding: 14px 25px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #218838;
            }
        }
    }
}